<!DOCTYPE html>
<html>
  <head>
    <title>Bike Sharing Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    
    

    <div class="form-box">
    <form action="{{url_for('predict_datapoint')}}" method="POST">
        
      <div class="form-group" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
      <label for="season">season:</label>
      <select id="season" name="season">
        <option value=1>winter</option>
        <option value=2>spring</option>
        <option value=3>summer</option>
        <option value=4>fall</option>
      </select>
    </div>

    <div class="form-group">
        <label for="mnth">Month:</label>
        <select id="mnth" name="mnth">
          <option value=1>jan</option>
          <option value=2>Feb</option>
          <option value=3>March</option>
          <option value=4>April</option>
          <option value=5>May</option>
          <option value=6>June</option>
          <option value=7>July</option>
          <option value=8>Aug</option>
          <option value=9>Sep</option>
          <option value=10>Oct</option>
          <option value=11>Nov</option>
          <option value=12>Dec</option>
        </select>
      </div>

      <div class="form-group">
        <label for="holiday">holiday:</label>
        <select id="holiday" name="holiday">
          <option value=1>yes</option>
          <option value=0>no</option>
        </select>
      </div>

      <div class="form-group">
        <label for="weekday">weekday:</label>
        <select id="weekday" name="weekday">
          <option value=0>sun</option>
          <option value=1>mon</option>
          <option value=2>tue</option>
          <option value=3>wed</option>
          <option value=4>thu</option>
          <option value=5>fri</option>
          <option value=6>sat</option>
        </select>
      </div>

      <div class="form-group">
        <label for="workingday">workingday:</label>
        <select id="workingday" name="workingday">
          <option value=1>yes</option>
          <option value=0>no</option>
        </select>
      </div>
      <div class="form-group">
        <label for="weathersit">weathersit:</label>
        <select id="weathersit" name="weathersit">
          <option value=1>clear</option>
          <option value=2>cloudy</option>
          <option value=2>light snow</option>
          <option value=2>heavy rain</option>
        </select>
      </div>

      <div class="form-group">  
        <label for="temp">temp:</label>
        <input type="text" id="temp" name="temp" placeholder="Enter temp range btw 0-1(float)">
    </div>

    <div class="form-group">  
      <label for="atemp">atemp:</label>
      <input type="text" id="atemp" name="atemp" placeholder="Enter feeling temp range btw 0-1(float)">
  </div>

<div class="form-group">  
  <label for="hum">hum:</label>
  <input type="text" id="hum" name="hum" placeholder="Enter humidity range btw 0-1 (float)">
</div>
<div class="form-group">  
  <label for="windspeed">windspeed:</label>
  <input type="text" id="windspeed" name="windspeed" placeholder="Enter windspeed range btw 0-1 (float)">
</div>
            
    
    <div style="clear:both;"></div>
      <input type="submit" value="Submit">
    </form>
    </div>
    <div>      
    <h2>
      Predicted sharing data is : {{ results }}
    </h2>
  </body>